[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pandas = "*"
gspread = "*"
google-auth = "*"
gspread-dataframe = "*"
gspread-formatting = "*"
install = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.8"
